@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&display=swap');

:root {
  --dark-bkg-color: #1f2937;
  --logo-text-color: #f9faf8;
  --link-text-color: #e5e7eb;
  --light-blue: #3882f6;
  --quote-sectionbk: #e5e7eb;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: var(--dark-bkg-color);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--logo-text-color);
  font-size: 24px;
  font-weight: 700;
  padding-left: 20px;
}

.links ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0 30px;
}

.links ul li a {
  text-decoration: none;
  color: var(--link-text-color);
  font-size: 18px;
}

section {
  height: 400px;
}

.section1 {
  display: flex;
  background-color: var(--dark-bkg-color);
  padding: 20px;
}

.leftPanel {
  padding: 30px;
}

.section1 h1 {
  color: var(--logo-text-color);
  font-size: 48px;
  font-weight: 900;
}

.section1 p {
  color: var(--link-text-color);
  font-size: 18px;
}

.btn {
  background-color: var(--light-blue);
  border: none;
  color: var(--logo-text-color);
  padding: 5px 20px;
  border-radius: 5px;
}

.section1 img {
  width: 90%;
}

.rightPanel {
  padding: 30px;
}

.section2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
}

.carrousel {
  display: flex;
  justify-content: space-around;
  gap: 50px;
}

.section2 h2 {
  font-weight: 900;
  font-size: 36px;
  color: var(--dark-bkg-color);
}

.imageGroup {
  width: 150px;
  /* margin: 30px; */
}

.imageGroup img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  border: 3px solid var(--light-blue);
}

.imageGroup p {
  text-align: center;
  color: #666;
}

.section3 {
  padding: 50px;
  background-color: var(--quote-sectionbk);
}

.section3 p cite {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
}

.section3 p {
  font-size: 26px;
}
